

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add new Animal</title>
	<link rel="stylesheet" href="style_dashboard.css">
	<link rel="icon" href="Logo.svg" type="image/x-icon">
	<link rel="shortcut icon" href="Logo.svg" type="image/x-icon">
</head>
<header>
		<nav>
			<div class="container">
				<ul>
					<li><a th:href="@{/employeeMenu}">Home</a></li>
					<li><a th:href="@{/inputAnimal}">Add Animal</a></li>
					<li><a th:href="@{/viewAll}">View Animals</a></li>
					<li><a th:href="@{/messages}">Messages</a></li>
					<li><a th:href="@{/viewApplications}">View applications</a></li>
     				<li><a th:href="@{/viewAdopters}">View adopters</a></li>
					<li><a th:href="@{/employeeLogout}">Logout</a></li>
				</ul>
			</div>
		</nav>
</header>

<!-- 
 * @author amboggs- Abigail Boggs
 * Apr 4, 2023
 -->
 

<form th:object="${newAnimal}" th:action="@{/inputAnimal}" method='POST'>
 <h2>Input a new Animal: </h2>
<input type="hidden" th:field="*{id}" />
Animal Name: <input name="animalName" size="20" th:field="*{name}"> <br />
Breed: <input name="breed" size="20" th:field="*{breed}"><br />
Species: <input name="species" size="20" th:field="*{species}"><br />
Age: <input name="age" size="20" th:field="*{age}"><br />
Arrival Date: <input type="date" name="arrivalDate" size="10" th:field="*{arrivalDate}"> <br />
Good with kids: <input name="goodWithKids" size="20" th:field="*{goodWithKids}"><br />

<input name="submit" type="submit" value="submit" />
</form>


</body>

<footer>
    <div class="container">
        <div class="footer-left">
            <h3>Contact Us</h3>
            <br>
            <p>123 Main Street</p>
            <p>Des Moines, IA USA 12345</p>
            <p>(123) 456-7890</p>
            <p>info@animalsanctuary.com</p>
        </div>
        <div class="footer-center">
            <h3>Hours of Operation</h3>
            <br>
            <p>Monday - Friday: 9am - 5pm</p>
            <p>Saturday: 10am - 4pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="footer-right">
            <img src="Logo_1.png" style="height: 250px;">
        </div>
        
    </div>
   <div>
    <p style="text-align: center;">@2023 Animal Sanctuary. All rights reserved.</p>
    </div>
</footer>
</html>
