<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adopter Dashboard</title>
</head>
<body>
    <h1>Welcome, <span th:text="${adopter.name}"></span>!</h1>
    <div>
        <h2>Your Information:</h2>
        <ul>
            <li><strong>Username:</strong> <span th:text="${adopter.username}"></span></li>
            <li><strong>Address:</strong> <span th:text="${adopter.address.street}"></span>, <span th:text="${adopter.address.city}"></span>, <span th:text="${adopter.address.state}"></span></li>
        </ul>
    </div>
    <div>
    

    <a th:href="@{/application}">Adoption Application</a>
	</div>
    <div>
        <h2>Actions:</h2>
        <ul>
        	<li><a th:href="@{/viewAvailableAnimals}">View Available Animals</a></li>
        	
        	<!-- Update Password -->
            <li><a th:href="@{/updatePasswordAdopter}">Update Password</a></li>
            <li><a th:href="@{/updateAddressAdopter}">Update Address</a></li>
            <!-- Log Out -->
            <li><a th:href="@{/adopterLogout}">Logout</a></li>
        </ul>
    </div>
</body>
</html>
