<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 
 * @author riahl12- Riley Ahlrichs
 * Apr 18, 2023
 -->
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" type="text/css" href="style_dashboard.css">
    <link rel="icon" href="Logo.svg" type="image/x-icon">
	<link rel="shortcut icon" href="Logo.svg" type="image/x-icon">
	<script type="text/javascript">
		function checkForm(form){
			if(form.age.value < 18 || isNaN(form.age.value)){
				alert("Invalid age, check the age you inputed. You must be 18 or older to adopt a pet.");
				form.age.focuse();
				return false;
			}
		}
	
	</script>
</head>

<header>
	<nav>
		<nav>
			<div class="container">
				<ul>
					<li><a href="/adopterDashboard">Home</a></li>
					<li><a th:href="@{/viewAvailableAnimals}">View Available Animals</a></li>
					<li><a th:href="@{/application}">Adoption Application</a></li>
					<li><a th:href="@{/adopterLogout}">Logout</a></li>
				</ul>
			</div>
		</nav>
	</nav>

</header>

<body>
	<h1>Adoption Application</h1>
	<form th:action="@{/application}" method="post" name="form" onsubmit="return checkForm(form);">
		<div>
			<label for="name">Adopter Name:</label>
			<input type="text" id="name" name="name" required>
		</div>
		<div>
			<label for="home">Do you own your own home?:</label>
			<input type="text" id="home" name="home" required>
		</div>
		<h3>Address</h3>
		<div>
			<label for="street">Street:</label>
			<input type="text" id="street" name="street" required>
		</div>
		<div>
			<label for="city">City:</label>
			<input type="text" id="city" name="city" required>
		</div>
		<div>
			<label for="state">State:</label>
			<input type="text" id="state" name="state" required>
		</div>
		<div>
			<label for="age">Your Age:</label>
			<input type="text" id="age" name="age" required>
		</div>
		<div>
			<label for="adoptee">Animal you want to adopt:</label>
			<input type="text" id="adoptee" name="adoptee" required>
		</div>
		<button type="submit">Submit Form</button>
	</form>
	<div>
		<a href="/adopterDashboard"><button type="button">Return to Dashboard</button></a>
	</div>
</body>

<footer>
    <div class="container">
        <div class="footer-left">
            <h3>Contact Us</h3>
            <br>
            <p>123 Main Street</p>
            <p>Des Moines, IA USA 12345</p>
            <p>(123) 456-7890</p>
            <p>info@animalsanctuary.com</p>
        </div>
        <div class="footer-center">
            <h3>Hours of Operation</h3>
            <br>
            <p>Monday - Friday: 9am - 5pm</p>
            <p>Saturday: 10am - 4pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="footer-right">
            <img src="Logo_1.png" style="height: 250px;">
        </div>
        
    </div>
   <div>
    <p style="text-align: center;">@2023 Animal Sanctuary. All rights reserved.</p>
    </div>
</footer>

</html>