<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="style_register.css">
    <link rel="icon" href="Logo.svg" type="image/x-icon">
	<link rel="shortcut icon" href="Logo.svg" type="image/x-icon">
	
	<script type="text/javascript">
		function checkForm(form){
			if(form.password.value != form.confirmPassword.value){
				alert("Passwords do not match, try again.");
				form.password.focus();
				return false;
			}
		}
	
	
	</script>
	
	
</head>
<header>
	<nav>
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="adopterLogin">Adopter Login</a></li>
				<li><a href="employeeLogin">Employee Login</a></li>
				<li><a href="contact">Volunteer</a></li>
				<li><a href="contact">Donate</a></li>
				<li><a href="contact">Contact Us</a></li>
			</ul>
		</div>
	</nav>
</header>
<body>
    <h1>Register</h1>
    <form th:object="${adopter}" th:action="@{/register}" method="post" name="form" onsubmit="return checkForm(this);">
        <input type="hidden" th:name="id" th:value="-1">
        <input type="hidden" th:name="hasCriminalRecord" th:value="false">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div>
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" required>
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
        </div>
        <div>
            <label for="state">State:</label>
            <input type="text" id="state" name="state" required>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
<footer>
    <div class="container">
        <div class="footer-left">
            <h3>Contact Us</h3>
            <br>
            <p>123 Main Street</p>
            <p>Des Moines, IA USA 12345</p>
            <p>(123) 456-7890</p>
            <p>info@animalsanctuary.com</p>
        </div>
        <div class="footer-center">
            <h3>Hours of Operation</h3>
            <br>
            <p>Monday - Friday: 9am - 5pm</p>
            <p>Saturday: 10am - 4pm</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="footer-right">
            <img src="Logo_1.png" style="height: 250px;">
        </div>
        
    </div>
   <div>
    <p style="text-align: center;">@2023 Animal Sanctuary. All rights reserved.</p>
    </div>
</footer>
<!-- Add this script block at the bottom of the page -->
<script th:if="${usernameExists}">
    alert('Username already exists. Please choose a different username.');
</script>
</html>
